[global]
   workgroup = WORKGROUP
   server string = ${HOSTNAME}
   security = user
   log file = /var/log/samba/log.%m
   logging = file
   max log size = 1000
   map to guest = Bad User
   obey pam restrictions = Yes
   pam password change = Yes
   unix password sync = Yes

[shared]
   path = ${SAMBA_SHARE_DIR}
   browseable = yes
   read only = no
   guest ok = no
   valid users = @sambashare
   create mask = 0660
   directory mask = 0770
